version: "3.8"
services:
  web:
    container_name: flask
    build:
      context: ./services/website
      dockerfile: Dockerfile
    expose:
      - 8000
    environment:
      - FLASK_ENV=development
      - FLASK_APP=app
    volumes:
      - ~/.aws:/root/.aws:ro
      - ./services/website:/wd
      - ./.log/website:/var/log/website
    networks:
      - nginx_network
    command: >
      sh -c "echo Running in Development &&
            gunicorn --bind 0.0.0.0:8000 app:app > /var/log/website/gunicorn.log 2>&1"

  nginx:
    image: nginx
    container_name: nginx-server
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./services/nginx/nginx-dev.conf:/etc/nginx/nginx.conf:ro
      - ./.log/nginx:/var/log/nginx
      - ./.log/letsencrypt:/var/log/letsencrypt
      - ./services/website/static:/static:rw

    networks:
      - nginx_network
    depends_on:
      - web


networks:
  nginx_network: